
footer{
    margin-top: auto;
    nav{
        a{
            font-family:$mainFont;
                color: map-get($colors, generico) !important;
            
        }
        
    }
    background-color: $hfcolor;
    animation-delay: 1.5s;
}

