main{
    .container{
        a{
            section{
                .img-guit{
                    animation-delay: 1s;
                    overflow: hidden;
                    position: relative;
                    width: 55%;
                    box-shadow: 0 4px 16px rgb(199, 11, 11);
                    border-radius: 35px;
                }
                
                
                .logo-index{
                    text-align: center;
                }
                    
                }
            }
        }
    }
