/* Texto colapse */

.desplegable,
a[name='more']:target ~ .ver_mas {
visibility: hidden;
width:0;
height:0; 
}

a[name='more']:target ~ .desplegable {
visibility: visible;
width: auto;
height: auto;
}
main{
    p{
        color: black;
        font-weight:600;
        font-style: italic;
        background-color: rgba(178, 131, 226, 0.534);
    }
    h1{
        color: black;
        font-weight:600;
        font-style: italic;
        
    }
    .img-nosotros{
        text-align: center;
    }
    details{
        summary{
            color: $hfcolor; 
        }
    }
}