@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,900&display=swap');

$mainFont: 'Merriweather', serif;
$hfcolor: rgb(46, 1, 71);
$sombreado_guitarra: 0 4px 16px rgb(199, 11, 11);
