@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,900&display=swap');

$mainFont: 'Merriweather', serif;
$hfcolor: rgb(46, 1, 71);
$sombreado_rojo: 0 4px 16px rgb(199, 11, 11);
$sombreado_negro:8px 8px 8px 1px rgba(0, 0, 0, 0.712);
$color_boton:rgba(94, 10, 173, 0.747);

//aca declaramos los valores de los botones
%botones {
    background-color: $color_boton;
    border-radius: 5px;
    color: rgb(254, 254, 255);
    border: transparent;
    padding: 5px;
    cursor: pointer;
    &:hover{
        color: rgb(0, 0, 0);
        box-shadow: $sombreado_negro;
        transition: all 0.2s ease;
    }
}






/* Aca le damos un poco de estilo a los botones y que cuando pase por encima cambie a manito*/
button{
    background-color: rgba(95, 10, 173, 0.349);
    border-radius: 5px;
    color: white;
    border: transparent;
    padding: 5px;
    cursor: pointer;
}
    /* Efecto somreado a los botones GENIAL!!! */
button:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgb(255, 255, 255);
    transition: all 0.2s ease;
}